@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Inter', sans-serif;
}

.light{
  background: #eee;
  color: rgb(0 0 0);
}

.dark {
  background: #1E202A;
  color: rgb(241 245 249);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider{
  background: linear-gradient(#378FE6, #3EDA82 60%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .6s;
  transition: .6s ease-in-out;
}

input:checked+.slider:before {
  background-color: hsl(230, 17%, 14%);
}

input:focus+.slider {
  outline: none;
  border: none;
}


input:checked+.slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tracking-widest {
  letter-spacing: 0.3rem;
  color: #a2a8c0;
  margin-bottom: 1rem;
}

.card-instagram{
  background: linear-gradient(to right, #fdc468, #df4996);
  padding-top: 4px;
}
.card-youtube{
  background: linear-gradient(to right, #c4032a, #c4032a);
  padding-top: 4px;
}
.card-facebook{
  background: linear-gradient(to right, #198ff5, #198ff5);
  padding-top: 4px;
}

.card-followers {
  font-size: 3rem;
}

svg {
  font-size: 20rem;
}

/* .overview-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid yellow;
}

 @media only screen and (min-width: 500px) {
  .overview-card{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid purple;
   }
 }

.view-card {
  display: flex;
  flex-direction: column;
  border: 1px solid chartreuse;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding:0;
}

 @media only screen and (min-width: 500px) {
  .view-card {
    width: 30%;
  }
 } */